/*
 * The main Lory CSS file.
 * Copyright 2013 Thomas Klemz
 */

* {
  margin: 0;
  padding: 0;
}

body, html { height: 100%; width: 100%; }

body {
  font-size: 16px;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
}

#header { 
  height: 10em; 
  width: 100%; 
  position: fixed;
  background-color: white;
  padding: 1em 0;
  top: 0;
}

#logout {
  float: right;
  margin-right: 10em;
}

#searchbar {
  width: 36em;
  margin: 0 auto;
  position: relative;
  bottom: -5em;
}

#search {
  width: 96.25%; /* to compensate for padding and border */
  font-family: sans-serif;
  font-size: 1.5em;
  padding: 0.46em 0.4em;
  color: #333;
  border: 1px solid #888;
}

.mailroom {
  margin: 0 auto;
  width: 36em;
  height: 100%;
}

#maillist {
  list-style-type: none;
  margin-top: 12em;
  margin-bottom: 12em;
  border: 1px solid #888;
}

.mailitem {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 4em;
  line-height: 4em;
  text-indent: 1em;
}

.mailitem:hover {
  cursor: pointer;
  box-shadow: 0px 1px 4px #555;
}

.mailitem + .mailitem {
  border-top: 1px solid #888; 
}

/**********************************************
 * Login form
 **********************************************/

#login {
  margin-top: 4em; 
}

input {
  width: 98%;
  font-size: 1.9em;
  padding: 0.15em;
  margin: 0.25em 0;
  border: 1px solid black;
}

legend {
  font-size: 2.5em;
  font-family: sans-serif;
}

fieldset {
  padding: 1em; 
}

#login-btn {
  margin-top: 1em;
  display: block;
  height: 2.2em;
  font-size: 1.5em;
  width: 100%;
  background-color: #bbb;
  border: none;
  -webkit-appearance: none;
}

button:hover {
  cursor: pointer;
}
